<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jsg.house.repository.mybatis.OptionsMapper">

    <insert id="save">
        INSERT INTO OPTIONS (HOUSE_ID, PARK, AIRCON, REFRIGE, WASHER, GAS, MICRO, ELEVATOR, BUILTIN)
        VALUES (#{houseId}, #{park}, #{aircon}, #{refrige}, #{washer}, #{gas}, #{micro}, #{elevator}, #{builtin})
    </insert>

    <update id="update">
        UPDATE OPTIONS
        SET PARK = #{park}, AIRCON = #{aircon}, REFRIGE = #{refrige}, WASHER = #{washer}, GAS= #{gas},
                MICRO = #{micro}, ELEVATOR = #{elevator}, BUILTIN = #{builtin}
        WHERE OPTIONS_ID= #{optionsId}
    </update>

    <select id="findByHouseId" resultType="Options">
        SELECT PARK, AIRCON, REFRIGE, WASHER, GAS, MICRO, ELEVATOR, BUILTIN, LAST_UPDATE_DATE
        FROM OPTIONS
        WHERE HOUSE_ID = #{houseId}
    </select>
</mapper>